.navBar-container{
  height: 5vh;
}
header.navBar-container{
  height:5vh;
  background-color: rgb(209, 208, 207);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
button.navBar-menu-button{
  margin-bottom: 20px;
}
/* app layout */
.layout-container{
  display: flex;
  height: 95vh;
}
div.layout-child-fixed {
  width:320px;
  min-width: 320px;
  border-right:0.5px solid gray;
}
/* screen detail preview */
div.item-container{
  display: flex;
  flex-direction: column;
}
 div.img-container{
  height:40%;
  margin: auto;

 }
div.img-container img{
  padding: 30px 10px;
  width: 280px;

}
div.item-descripition{
  padding:15px;
  height: 60%;
  border-top:0.5px solid gray;
}
.edit-btn-container{
  display: flex;
  justify-content: space-between;
}
button.edit-btn{
  width:120px;
  background-color: rgb(24, 173, 241);

}
a.art-item {
  color:rgb(0,0,0);
}
a.art-item:hover{
color: rgb(24, 173, 241); ;
}
a.art-item:link{
  text-decoration: none;
}

/* aligment of TreeComponent structures */
fieldset.radio-btns {
  padding-top: 10px;;
}
fieldset.radio-btns,
ul.tree-view,
div.MuiFormControl-root.search-input
{
  padding-left: 15px ;
}
/* edit item page */
div.edit-form-container {
flex:1;
border-right:0.5px solid gray;
}
div.preview-container {
flex:1;
}
div.edit-input-field {
  display: flex;
  flex-direction: column;
  max-width:500px;
  margin: auto;
  padding-top: 20px;
  
}

div.save-preview-btns{
  display: flex;
  justify-content: flex-start;
  padding-left: 7vw;
}
button.preview-btn {
  width:120px;
  background-color: rgb(24, 173, 241); ;
}
button.save-btn {
  width:120px;
  background-color: rgb(24, 173, 241); ;
  margin-right: 10px;
}
div.input-text {
  margin-bottom: 10px;
}